.profile {
    &__info {
      display: flex;
      align-items: center;
      text-align: center;
    }
  
    &__avatar {
      max-width: 420px;
      max-height: 420px;
      border-radius: 50%;
      margin-right: 150px;
    }
  
    &__bio {
      display: flex;
      flex-direction: column;
    }
  
    &__bio-name,
    &__subtitle,
    &__bio-description {
      font-size: 32px;
      margin-bottom: 8px;
    }
  
    &__subtitle {
      font-size: 26px;
      margin-bottom: 16px;
    }
  
    &__bio-description {
      font-size: 24px;
      margin-bottom: 16px;
      text-align: left;
    }
  }