.profile {
    &__info {
      display: flex;
      align-items: center;
      text-align: center;
    }
  
    &__avatar {
      max-width: 420px;
      max-height: 420px;
      border-radius: 50%;
      margin-right: 150px;
    }
  
    &__bio {
      display: flex;
      flex-direction: column;
    }
  
    &__bio-name,
    &__subtitle,
    &__bio-description {
      font-size: 32px;
      margin-bottom: 8px;
    }
  
    &__subtitle {
      font-size: 26px;
      margin-bottom: 16px;
    }
  
    &__bio-description {
      font-size: 24px;
      margin-bottom: 16px;
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    .sobre {
      display: block;
      margin-top: 68px;
    }
    
    .profile {
  
      &__info {
        display: block;
        text-align: center;
      }
  
      &__avatar {
        display: block;
        text-align: center;
        margin: auto;
        width: 50%;
      }
  
      &__bio {
        h1, h2, p {
          font-size: 18px;
          text-align: center;
          margin-top: 16px;
          padding: 4px;
        }

        h2 {
          margin: 68px;
        }
      }
    }
  }