@use'variaveis';

.skills {
  margin-top: 24px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

    &-item {
      i {
        font-size: 2em;
        margin: 20px;
        transition: all 0.3s;
        cursor: pointer;
        color: variaveis.$cor-icone-social;
        background-color: variaveis.$cor-fundo-botoes;
        padding: 15px;
        border-radius: 50%;
        text-align: center;
      }

      .skills__tooltip {
        position: relative;
        cursor: pointer;

        .skills__tooltiptext {
          visibility: hidden;
          background-color: variaveis.$cor-tooltip;
          color: variaveis.$cor-texto;
          text-align: center;
          border-radius: 6px;
          padding: 10px;
          width: 180px;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover {
          .skills__tooltiptext {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .skills {
    &__title {
      font-size: 1em;
      content: "Toque para mais informações";
    }

    &__list {
      display: block;
      text-align: center;
      margin: 8px;
      padding: 8px;

      &-item {
        margin: 8px;
        position: relative;
        width: 100%;

        .skills__tooltip {
          .skills__tooltiptext {
            bottom: -5px;
            top: auto;
            visibility: visible; /* Altera a visibilidade para tornar o tooltip sempre visível */
          }
        }
      }
    }
  }
}